/* TODO: Extract styles that aren't actually global into their own files. */
/* TODO: Include more mobile-specific classes so not every mobile-only feature needs its own identifier. */
/* ordered by root > tags > classes > IDs > by media */

:root {
    font-size: 18px;
    background-color: rgb(245,245,245);
    color: rgb(50,50,50);
}

body {
    max-width: 72rem;
    margin: 12px auto;
    padding: 0 2em;
}

h1, h2, h3 {
    line-height: 1.2em;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px;
}

p {
    line-height: 1.6em;
}
    
#home-link {
    text-decoration: none;
    color: unset;
}

#site-navigation-menu > a {
    border: 1px solid transparent;
    padding: 1px 8px;
    display: inline-block;
    color: inherit;
}
    #site-navigation-menu > a.currently-selected-nav-item {
        font-weight: bold;
        color: rgb(100,100,100);
        pointer-events: none;
        padding: 1px 8px;
        border: 1px solid transparent;
    }
    #site-navigation-menu > a:not(:disabled):hover {
        text-decoration: none;
        border: 1px solid rgb(50,50,50);
    }
    #site-navigation-menu > a:not(:disabled):active,
    #site-navigation-menu > a:not(:disabled):focus {
        outline: none;
        border: 1px solid rgb(50,50,50);
    }

/* media specifics */
@media only screen and (max-width: 1280px) {
    :root {
        font-size: 16px;
    }
}