:root {
    --primary-background-color: rgb(245,245,245);
    --primary-color: rgb(50,50,50);
    --selected-menu-items-color: rgb(100,100,100);
    --mobile-menu-color: rgb(250,250,250);
    --mobile-selected-menu-items-color: rgb(150,150,150);
    --shadow-color: rgb(40,40,40);
    font-size: 18px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}
    :root[ui-theme='dark'] {
        --primary-background-color: rgb(55,55,55);
        --primary-color: rgb(190,190,190);
        --selected-menu-items-color: rgb(140,140,140);
        --mobile-menu-color: rgb(40,40,40);
        --mobile-selected-menu-items-color: rgb(0,110,150);
    }

body {
    width: 65%;
    max-width: 1080px;
    margin: 12px auto;
    padding: 0 32px;
}

button.unstyled-button {
    border: none;
    background-color: unset;
}

h1 {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: -1.5pt;
    line-height: 1.2em;
}

h2 {
    font-weight: lighter;
    font-size: 3.75rem;
    letter-spacing: -0.5pt;
    line-height: 1.2em;
}

h3 {
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 0pt;
    line-height: 1.2em;
}

h4 {
    font-weight: normal;
    font-size: 2.125rem;
    letter-spacing: 0.25pt;
}

h5 {
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0pt;
}

h6 {
    font-weight: lighter;
    font-size: 1.25rem;
    letter-spacing: 0.15pt;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    margin-bottom: 12px;
}

html {
    opacity: 0;
    transition: opacity 0.25s;
}
    html.loaded {
        opacity: 1;
    }

p {
    line-height: 1.6em;
}

.toggle-switch {
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
}
    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .toggle-switch > .toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary-color);
        border-radius: 1.25rem;
    }
        .toggle-switch > .toggle-slider > .toggle-checked-icon {
            position: absolute;
            height: 0.9rem;
            width: 0.9rem;
            left: 0.25rem;
            bottom: 0.175rem;
        }
        .toggle-switch > .toggle-slider > .toggle-slider-knob {
            position: absolute;
            height: 1.1rem;
            width: 1.1rem;
            bottom: 0.075rem;
            background-color: var(--primary-background-color);
            border-radius: 50%;
            transition: left 0.2s;
        }
            .toggle-switch > input:not(:checked) ~ .toggle-slider > .toggle-slider-knob {
                left: 0.1rem;
            }
            .toggle-switch > input:checked ~ .toggle-slider > .toggle-slider-knob {
                left: 1.3rem;
            }
        .toggle-switch > .toggle-slider > .toggle-unchecked-icon {
            position: absolute;
            height: 0.9rem;
            width: 0.9rem;
            right: 0.25rem;
            bottom: 0.175rem;
        }
    
#home-link {
    text-decoration: none;
    color: unset;
}

#site-navigation-menu > a {
    border: 1px solid transparent;
    padding: 1px 8px;
    display: inline-block;
    color: inherit;
}
    #site-navigation-menu > a.currently-selected-nav-item {
        font-weight: bold;
        color: var(--selected-menu-items-color);
        pointer-events: none;
        padding: 1px 8px;
        border: 1px solid transparent;
    }
    #site-navigation-menu > a:not(:disabled):hover {
        text-decoration: none;
        border: 1px solid var(--primary-color);
    }
    #site-navigation-menu > a:not(:disabled):active,
    #site-navigation-menu > a:not(:disabled):focus {
        outline: none;
        border: 1px solid var(--primary-color);
    }

#theme-toggle {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -2.75rem;
}
    #theme-toggle > .toggle-slider > .toggle-slider-knob {
        left: unset;
        transition: right 0.2s;
    }
        [ui-theme='dark'] #theme-toggle > .toggle-slider > .toggle-slider-knob {
            right: 0.1rem;
        }
        [ui-theme='light'] #theme-toggle > .toggle-slider > .toggle-slider-knob {
            right: 1.3rem;
        }

@media only screen and (max-width: 1280px) {
    :root {
        font-size: 16px;
    }

    body {
        width: 832px;
        max-width: 90%;
    }
}

@media only screen and (max-width: 720px) {
    body {
        width: 95%;
        min-width: 360px;
        max-width: unset;
    }
}

@media only screen and (min-width: 594px) {
    .mobile-only {
        display: none !important;
    }
}
@media only screen and (max-width: 593px) {
    body {
        width: 100%;
        padding: 0 24px;
    }

    .hide-on-mobile {
        display: none;
    }

    #mobile-navigation-menu-header {
        width: 100%;
        display: flex;
    }
        #mobile-navigation-menu-header > .close-button {
            font-size: 2.8rem;
            padding: 8px 16px;
            margin-left: auto;
        }

    #site-navigation-menu {
        position: fixed;
        z-index: 1000;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: var(--mobile-menu-color);
        box-shadow: 0 0 20px;
        animation: 0.1s linear expand-width-to-70-percent;
    }
        #site-navigation-menu > a {
            border: none;
            display: block;
            font-size: 1.5rem;
            padding: 8px 16px;
            margin: 4px 0;
        }
            #site-navigation-menu > a.currently-selected-nav-item {
                font-weight: normal;
                padding: 8px 16px;
                border: none;
                color: var(--mobile-selected-menu-items-color);
            }
            #site-navigation-menu > a:not(:disabled):hover,
            #site-navigation-menu > a:not(:disabled):active,
            #site-navigation-menu > a:not(:disabled):focus {
                border: none;
            }

    #site-navigation-menu-mobile-mask {
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        filter: blur(4px);
    }
        #site-navigation-menu-mobile-mask:hover {
            cursor: default;
        }
    
    #theme-toggle {
        z-index: unset;
        font-size: 0.9rem;
        bottom: 0;
        margin: 12px;
    }
}

@keyframes expand-width-to-70-percent {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}