/* TODO: Extract styles that aren't actually global into their own files. */
/* TODO: Include more mobile-specific classes so not every mobile-only feature needs its own identifier. */
/* ordered by root > tags > classes > IDs > by media */

:root {
    font-size: 18px;
    background-color: rgb(245,245,245);
    color: rgb(50,50,50);
}

body {
    width: 65%;
    max-width: 1080px;
    margin: 12px auto;
    padding: 0 32px;
}

button.unstyled-button {
    border: none;
    background-color: unset;
}

h1 {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: -1.5pt;
    line-height: 1.2em;
}

h2 {
    font-weight: lighter;
    font-size: 3.75rem;
    letter-spacing: -0.5pt;
    line-height: 1.2em;
}

h3 {
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 0pt;
    line-height: 1.2em;
}

h4 {
    font-weight: normal;
    font-size: 2.125rem;
    letter-spacing: 0.25pt;
}

h5 {
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0pt;
}

h6 {
    font-weight: lighter;
    font-size: 1.25rem;
    letter-spacing: 0.15pt;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px;
}

p {
    line-height: 1.6em;
}
    
#home-link {
    text-decoration: none;
    color: unset;
}

#site-navigation-menu > a {
    border: 1px solid transparent;
    padding: 1px 8px;
    display: inline-block;
    color: inherit;
}
    #site-navigation-menu > a.currently-selected-nav-item {
        font-weight: bold;
        color: rgb(100,100,100);
        pointer-events: none;
        padding: 1px 8px;
        border: 1px solid transparent;
    }
    #site-navigation-menu > a:not(:disabled):hover {
        text-decoration: none;
        border: 1px solid rgb(50,50,50);
    }
    #site-navigation-menu > a:not(:disabled):active,
    #site-navigation-menu > a:not(:disabled):focus {
        outline: none;
        border: 1px solid rgb(50,50,50);
    }

@media only screen and (max-width: 1280px) {
    :root {
        font-size: 16px;
    }

    body {
        min-width: 700px;
    }
}

@media only screen and (max-width: 720px) {
    body {
        width: 95%;
        min-width: 360px;
    }
}

@media only screen and (min-width: 541px) {
    .mobile-only {
        display: none !important;
    }
}
@media only screen and (max-width: 540px) {
    body {
        width: 100%;
        padding: 0 24px;
    }

    .hide-on-mobile {
        display: none;
    }

    #mobile-navigation-menu-header {
        width: 100%;
        display: flex;
    }
        #mobile-navigation-menu-header > .close-button {
            font-size: 2.8rem;
            padding: 8px 16px;
            margin-left: auto;
        }

    #site-navigation-menu {
        position: fixed;
        z-index: 1000;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: rgb(250,250,250);
        box-shadow: 0 0 20px;
        animation: 0.1s linear expand-width-to-70-percent;
    }
        #site-navigation-menu > a {
            border: none;
            display: block;
            font-size: 1.5rem;
            padding: 8px 16px;
            margin: 4px 0;
        }
            #site-navigation-menu > a.currently-selected-nav-item {
                font-weight: normal;
                padding: 8px 16px;
                border: none;
                color: rgb(150,150,150);
            }
            #site-navigation-menu > a:not(:disabled):hover,
            #site-navigation-menu > a:not(:disabled):active,
            #site-navigation-menu > a:not(:disabled):focus {
                border: none;
            }

    #site-navigation-menu-mobile-mask {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        filter: blur(4px);
    }
        #site-navigation-menu-mobile-mask:hover {
            cursor: default;
        }
}

@keyframes expand-width-to-70-percent {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}