#index-banner {
    padding: 96px 48px;
    text-align: center;
}
    
#index-banner-icons a {
    display: inline-block;
    margin: 20px 10px;
}

#index-banner-icons img {
    width: 2rem;
    height: 2rem;
}

@media only screen and (max-width: 720px) {
    #index-banner {
        padding: 48px 24px;
    }
}

@media only screen and (max-width: 540px) {
    #index-banner {
        padding: 24px 12px;
    }
}