#index-banner {
    padding: 6rem 3rem;
    text-align: center;
}
    
#index-banner-icons a {
    display: inline-block;
    margin: 20px 10px;
}

#index-banner-icons img {
    width: 2rem;
    height: 2rem;
}