/* styles derived from material design standards */
/* https://material.io */

h1 {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: -1.5pt;
}

h2 {
    font-weight: lighter;
    font-size: 3.75rem;
    letter-spacing: -0.5pt;
}

h3 {
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 0pt;
}

h4 {
    font-weight: normal;
    font-size: 2.125rem;
    letter-spacing: 0.25pt;
}

h5 {
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0pt;
}

h6 {
    font-weight: lighter;
    font-size: 1.25rem;
    letter-spacing: 0.15pt;
}