---
permalink: /portfolio/
layout: default
title: Austin Schwarm | Portfolio
---

<!-- TODO: I want to make this a grid layout on small screens. -->
<div id="portfolio-container">
    {% assign alignment = "right" %}
    {% for item in site.data.portfolio-projects %}
        <div class="portfolio-project-wrapper {{ alignment }}-aligned">
            <img class="portfolio-project-image" src="{{ item.image_path }}" onmouseover="setPortfolioProjectLabelAside('portfolio-{{ item.id }}-label')" onmouseout="unsetPortfolioProjectLabelAside('portfolio-{{ item.id }}-label')" />
            <div id="portfolio-{{ item.id }}-label" class="portfolio-project-label {{ alignment }}-aligned">
                <div class="portfolio-project-label-header">
                    <h5>{{ item.title }}</h5>
                    <a href="{{ item.link }}" target="_blank"><img class="portfolio-project-label-header-link-icon" src="/assets/svg/external-link.svg" /></a>
                </div>
                <div>
                    {{ item.description }}
                </div>
                <div class="portfolio-project-label-tags">
                    {% for tag in item.tags %}
                    <span>#{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- TODO: Update scrolling in labels -->
    
        {% if alignment == "right" %}
            {% assign alignment = "left" %}
        {% else %}
            {% assign alignment = "right" %}
        {% endif %}
    {% endfor %}
</div>
