<!doctype html>

<html ui-theme="">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="A website about Austin." />
        <meta name="author" content="Austin Schwarm" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="#"> <!-- Fixes "favicon.ico not found" error. Add favicon.ico and set href to its location to add page title icon. -->
        <link rel="stylesheet" href="/assets/css/aboutme.css" />
        <link rel="stylesheet" href="/assets/css/css-reset.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="stylesheet" href="/assets/css/index.css" />
        <link rel="stylesheet" href="/assets/css/portfolio.css" />
        <script src="/assets/js/global.js"></script>
        <script src="/assets/js/portfolio.js"></script>
        <script type="text/javascript">
            // this is part of handling the flash of unstyled content (FOUC)
            if (sessionStorage.getItem("theme") === null) {
                sessionStorage.setItem("theme", "light");
            }

            switch(sessionStorage.getItem("theme").toLowerCase()) {
                case 'dark':
                    document.documentElement.style.setProperty("background-color", "rgb(55,55,55)");
                    break;
                case 'light':
                    document.documentElement.style.setProperty("background-color", "rgb(245,245,245)");
                    break;
                default:
                    break;
            }
        </script>
    </head>

    <body>
        <header>
            <a href="/" target="_self" id="home-link"><h4>{% if page.url != "/" %}Austin Schwarm{% endif %}</h4></a>

            <button class="mobile-only unstyled-button" style="width: 2.4rem;" onclick="openSiteNavigation()"><img src="/assets/svg/hamburger-menu.svg" title="Open Navigation" alt="Open" /></button>

            <button id="site-navigation-menu-mobile-mask" class="mobile-only unstyled-button hide-on-mobile" onclick="closeSiteNavigation()"></button>
            <nav id="site-navigation-menu" class="hide-on-mobile">
                <div id="mobile-navigation-menu-header" class="mobile-only"><button class="unstyled-button close-button" onclick="closeSiteNavigation()">&times;</button></div>

                {% if page.url != "/" %}
                    <a href="/" target="_self" class="mobile-only">Home</a>
                {% endif %}
                {% for item in site.data.site-navigation %}
                    {% assign itemHrefAsUrl = item.href | append: "/" %}
                    <a href="{{ item.href }}" {% if item.href contains "." %} target="_blank" {% else %} target="_self" {% endif %} {% if page.url == itemHrefAsUrl %} class="currently-selected-nav-item" {% endif %}>{{ item.label }}</a>
                {% endfor %}
                
                <label id="theme-toggle" class="toggle-switch">
                    <input type="checkbox" role="checkbox" title="Dark Mode Toggle" aria-label="Toggle Dark Mode" onchange="toggleTheme()">
                    <span class="toggle-slider">
                        <img class="toggle-unchecked-icon" src="/assets/svg/sun.svg" title="Light Theme" alt="Sun">
                        <img class="toggle-checked-icon" src="/assets/svg/moon.svg" title="Dark Theme" alt="Moon">
                        <span class="toggle-slider-knob"></span>
                    </span>
                </label>
            </nav>
        </header>
        
        <hr />
        
        {{ content }}

    </body>
</html>