<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="A website about Austin." />
        <meta name="author" content="Austin Schwarm" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/css-reset.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="stylesheet" href="/assets/css/index.css" />
        <link rel="stylesheet" href="/assets/css/material.css" />
        <script src="/assets/js/global.js"></script>
    </head>

    <body>
        <header>
            <!-- TODO: In mobile, change the navigation menu to be a slide-in panel. -->
            <a href="/" target="_self" id="home-link"><h4>{% if page.url != "/" %}Austin Schwarm{% endif %}</h4></a>
            
            <nav id="site-navigation-menu">
                {% for item in site.data.site-navigation %}
                    <a href="{{ item.href }}" target="_self" {% if page.url == item.href %} class="currently-selected-nav-item" {% endif %}>{{ item.label }}</a>
                {% endfor %}
            </nav>
        </header>

        
        <hr />
        
        {{ content }}

    </body>
</html>